.hero-section {
  /* background: url("../../assets/section\ 1/bg.svg") no-repeat;
  background-size: 100%; 
  height: 100vh;*/
  width: 100%;
  position: relative;
}

.hero-section .heroTitle-content {
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 7.8vw;
  z-index: 50;
}

.heroTitle-content .heroTitle {
  font-size: 78px;
  line-height: 80px;
  font-weight: 800;
  letter-spacing: 0.06px;
  font-weight: bolder;
  color: #fff;
  text-shadow: 3px 4px 17px rgba(255, 255, 255, 0.2);
  margin-bottom: 8px;
}

.heroTitle-content .heroSubtitle {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: rgb(61 144 106);
}

.hero-section .loading-resource {
  width: 100%;
}

.hero-section .people-img,
.hero-section .machine-img {
  position: absolute;
  top: 0;
  left: 0;
}


@media (max-width: 992px) and (min-width: 768px) {


  .heroTitle-content .heroTitle {
    font-size: 50px !important;
    line-height: 56px !important;
    margin-bottom: 11px !important;
  }

  .hero-section .people-img,
  .hero-section .machine-img {
    width: 100%;
    top: 100px;
    margin-bottom: 0;
  }

  .hero-section {
    padding-top: 100px;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, rgba(3, 18, 34, 1) 0%, rgba(0, 0, 0, 0) 100%);

  }

  .heroTitle-content .heroSubtitle {
    font-size: 22px;
    line-height: 26px;
    max-width: 365px;
    margin: 0 auto;
  }


}


@media (max-width: 767px) {
  .mobile-machine {
    position: absolute;
    top: -250px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .hero-section div:nth-child(2) svg {
    height: auto !important;
  }


  .heroTitle-content .heroTitle {
    font-size: 41px !important;
    line-height: 40px !important;
    margin-bottom: 11px !important;
  }

  .heroTitle-content .heroSubtitle {
    font-size: 18px;
    line-height: 26px;
    max-width: 365px;
    margin: 0 auto;
  }



  .hero-section {
    /* padding-top: 250px;  */
    background-repeat: no-repeat;
    /* background: linear-gradient(180deg, rgba(3, 18, 34, 1) 0%, rgba(3, 18, 34, 1) 50%, rgba(255, 255, 255, 1) 50%); */
    background: linear-gradient(180deg, rgb(4 24 59) 0%, rgb(4 24 59) 50%, rgba(255, 255, 255, 1) 50%);
  }

  .hero-section .people-img,
  .hero-section .machine-img {
    width: 100%;
    top: 250px;
    margin-bottom: 0;
  }

  .hero-section .heroTitle-content {
    top: 100px;
    z-index: 100 !important;
  }

  .header-inner img {
    top: 0px;
    left: -3px;
    position: relative;
  }
  
  .btn-custom {
    height: 30px;
    top: 3px;
    margin-right: 25px !important;
  }

  .btn-open {
    width: 23px;
    right: 9px;
    top: 25px;
  }

  .heroTitle-content .heroTitle {
    margin-top: -30px !important;
  }

  .hero-section .mobile-view{
    top: 0px;
    position: relative;
  }

}