.diclaimer-section{
    padding: 125px 0;
    background: #031222;
    text-align: left;
    /* background-image: url('../../assets/images/disclaimer.svg'); */
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.diclaimer-section .diclaimer-title{
    font-size: 40px;
    color: #fff;
    line-height: 50px !important;
    font-weight: 600;
    margin-bottom: 20px !important;
}

.diclaimer-section p{
    margin-top: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #fff;
    opacity: 0.8;
}

.diclaimer-section .leagal-Btn {
    padding: 16px 40px !important;
    border-radius: 12px !important;
    height: 52px;
    font-size: 16px !important;
    line-height: 19px;
}


@media (max-width: 767px) {
    .diclaimer-section {
        padding: 67px 0 555px 0;
        background-position: 50% 85% !important;
        background-image: url('../../assets/images/mobile-disclaimer.svg');
        text-align: center;
        background-size: 65%;
        position: relative;
    }

    .diclaimer-section .div-animation {
    transform: rotate(90deg) !important;
        bottom: 0;
        display: none !important;
    }

    .diclaimer-section .diclaimer-title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px !important;
        text-align: center;
    }

    .diclaimer-section .leagal-Btn {
        /* padding: 12px 20px !important;
        border-radius: 8px !important;
        height: 40px;
        font-size: 14px !important;
        line-height: 19px !important;
        margin: 0 auto !important; */
    }
}